*{
    margin: 0;
    padding: 0;
}
.container{
    height: 50vh;
    width: 50vw;
    background-color: brown;
    position: relative;
    left: 100px;
}
.child1{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50px;
    background-color: grey;
}
.box{
    margin: 20px;
    padding: 20px;
}
.box1{
    background-color: blue;
    /* position: fixed;
    bottom: 20px;
    right: 20px; */
    position: sticky;
    top: 0px;
}
.box2{
    background-color: blueviolet;
}
.box3{
    background: green;
}
.parent{
    height: 50vh;
    width: 50vw;
    background-color: blue;
}
.box{
    width: 60px;
    background-color: green;
    height: 60px;
}